
/* 
@media(max-width: 800px) {

.inputAres
{
 
  height: 6rem;
  width: 100%;
  padding: .2rem;

} 
.msgbox 
{
 
  background: #fe8e04;
  
}


} */


.inputArea
{
  box-shadow: -15px 10px 30px black;
   color: #fff;
  border-top: 1.8px solid grey;
  height: 6rem;
  width: 100%;
  align-items: center;
  padding: .5rem;
  position: relative;
  background: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputbox
{
  color: #000;
  padding: 0 1.4rem;
  background: lightgrey;
  outline: none;
  height: 70%;
  width: 70%;
  border-bottom: 3px solid grey;
  font-size: 1.3rem;
  transition: .8s ease;
  
}

.inputbox::placeholder
{
    font-size: 1em;
    color: #000;
    font-weight: 480;
}

.sendicons
{
  display: flex;
  gap: 1.9rem;
  align-items: center;
  padding: .2rem;
  margin-right: 4rem;
}


.sendicon
{
  cursor: pointer;
  border-radius: 50%;
  padding: .4rem;
  background: #07011F;
  border: 2.7px solid #07011F;
  color: white;
  width: 2.8rem;
  height: 2.6rem;
  transition: .5s ease;
}

.sendicon:hover
{
  background: transparent;
  color: #07011F;
}


@media (max-width:800px) {
 .sendicons
 {
  gap: .9rem;
  padding: .1rem;
 } 

.sendicon{
  height: 2.3rem;
}
}
